<div class="container mt-4">
    <div class="row">
      <div *ngFor="let institution of institutions" class="col-md-4 mb-4">
        <div class="card shadow-sm">
          <!-- Imagen o Dummy -->
          <img
            *ngIf="institution.logo"
            [src]="institution.logo"
            class="card-img-top"
            alt="Institution Icon"
          />
          <img
            *ngIf="!institution.logo"
            src="assets/images/bank.png"
            class="card-img-top"
            alt="Default Icon"
          />
  
          <div class="card-body">
            <h5 class="card-title">{{ institution.name }}</h5>
            <p class="card-text">
              <strong>Tipo:</strong> {{ institution.type }}
            </p>
            <a
              [routerLink]="['/bank', institution.id]"
              class="btn btn-primary" style="color: white !important;"
            >
              Ver Detalle
            </a>
            <a
              [routerLink]="['/bank/state', institution.id]"
              class="btn btn-primary" style="color: white !important;"
            >
              Ver Balance
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>  